/* MASTER */
* {
	box-sizing:border-box
	}

body {
    background-image: url("image/3.jpg");
    background-color: white;
	margin: 0px;
	font-family: 'Saira';
	min-width: 250px;
    color: #333;
}

/* TRANSFORM */
.upper {
    text-transform: uppercase;
}

.center {
	text-align: center;
}

.saira {
	font-family: 'Saira';
}

.clear {
	clear: both;
}

/* COLORS */
.bg_black {
	background-color: black;
}

.grey {
	background-color: #cccccc;
}

.darkgrey {
	background-color: darkgray;
}	

.white {
	color: white;
}

.steelblue {
	color: steelblue;
}

/* SLIDE container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	bottom: 50%;
	width: 100%;
	text-align: center;
	text-shadow: 1px 1px #333;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/* For mobile phones | MEDIA Generell  */
[class*="col-"] {
    width: 100%;
}

.main-box {
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

.w3-content {
    margin: auto;
}

.w3-container {
    padding: 0.01em 16px;
}
.w3-justify {
    text-align: justify !important;
}

.header {
	background-color: white;
	font-size: 26px;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	font-family: 'Saira';
}

.tas {
	width:100%;
	text-align: center;
	line-height: 40px;
}

.headermenue  {
	height: 50px;
	vertical-align: middle;
	text-align: center;
	line-height: 50px;
    color: white;
    background-color: white;
    text-decoration: none;
    padding: 0 10px 0 10px;	
}

.headermenue a {
     color: #333;
     background-color: white;
     text-decoration: none;
     padding: 0 10px 0 10px;
 }

.headermenue a:hover {
	color: #4FD5FF;
}

.headermenue a:active {
    background-color: steelblue;
    color: white;
}

a {
  color:white; 
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;
}

.image_3head > img {
	width: 100%;
	float: left;
}

.image {
	width: 100%;
}

.image > img {
	width: 100%;
}
	
.image_porto > img {
	width: 100%;
	    margin-bottom: 10px;
}

.footer {
		border-top: solid 1px #ccc;
}


/* MEDIA 425px */
@media only screen and (min-width: 425px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .main-box {
        width: 80%;
        margin: 55px auto;
        border-left: 1px solid #aaa;
        border-right: 1px solid #aaa;
    }
	
	.header {
		background-color: red;
		font-size: 46px;
		text-align: center;
		vertical-align: middle;
		line-height: 120px;
	}
	
	.w3-content {
		max-width: 650px;
	}
	
	.image_porto > img {
		width: 50%;
		margin-bottom: 10px;
		float: left;
	}

	.image_3head > img {
		width: 33.3%;
		float: left;
	}
}

/* MEDIA 768px */
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	
	.header {
		background-color: green;
		font-size: 64px;
		text-align: center;
		vertical-align: middle;
		line-height: 180px;
	}

	.w3-content {
	max-width: 800px;
	}

	.image_porto > img {
		width: 50%;
		margin-bottom: 10px;
		float: left;
	}

	.tas {
		width: 32%;
	}
}